<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>


  <!-- 在RumorServletContextListener中可以获取到 -->
  <context-param>
    <param-name>appName</param-name>
    <param-value>victor</param-value>
  </context-param>
  <context-param>
    <param-name>status</param-name>
    <param-value>restful</param-value>
  </context-param>
  <listener>
    <listener-class>cn.rumor.young.listener.RumorServletContextListener</listener-class>
  </listener>
  <servlet>
    <display-name>OnlyInitOneServlet</display-name>
    <servlet-name>OnlyInitOneServlet</servlet-name>
    <servlet-class>cn.rumor.servlet.OnlyInitOneServlet</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>victor</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>Servlet1</servlet-name>
    <servlet-class>cn.rumor.servlet.Servlet1</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet2</servlet-name>
    <servlet-class>cn.rumor.servlet.Servlet2</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet3</servlet-name>
    <servlet-class>cn.rumor.servlet.Servlet3</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Servlet4</servlet-name>
    <servlet-class>cn.rumor.servlet.Servlet4</servlet-class>
  </servlet>
  <servlet>
    <display-name>ThreadServlet1</display-name>
    <servlet-name>ThreadServlet1</servlet-name>
    <servlet-class>cn.rumor.servlet.ThreadServlet1</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ForwardServlet</display-name>
    <servlet-name>ForwardServlet</servlet-name>
    <servlet-class>cn.rumor.servlet.ForwardServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>FileServlet</display-name>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>cn.rumor.servlet.FileServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>SessionServlet</display-name>
    <servlet-name>SessionServlet</servlet-name>
    <servlet-class>cn.rumor.servlet.SessionServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>IndexServlet</display-name>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>cn.rumor.shop.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>BuyServlet</display-name>
    <servlet-name>BuyServlet</servlet-name>
    <servlet-class>cn.rumor.shop.BuyServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>ListCartServlet</display-name>
    <servlet-name>ListCartServlet</servlet-name>
    <servlet-class>cn.rumor.shop.ListCartServlet</servlet-class>
  </servlet>
  <servlet>
    <display-name>IpServlet</display-name>
    <servlet-name>IpServlet</servlet-name>
    <servlet-class>cn.rumor.servlet.IpServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>RequestServlet</display-name>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>cn.rumor.servlet.RequestServlet</servlet-class>
  </servlet>
  <servlet>
    <description></description>
    <display-name>CookieDemo1</display-name>
    <servlet-name>CookieDemo1</servlet-name>
    <servlet-class>cn.rumor.servlet.CookieDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlyInitOneServlet</servlet-name>
    <url-pattern>/OnlyInitOneServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet1</servlet-name>
    <url-pattern>/abc/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet2</servlet-name>
    <url-pattern>/2</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet3</servlet-name>
    <url-pattern>/abc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Servlet4</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ThreadServlet1</servlet-name>
    <url-pattern>/ThreadServlet1</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ForwardServlet</servlet-name>
    <url-pattern>/ForwardServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/FileServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SessionServlet</servlet-name>
    <url-pattern>/SessionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BuyServlet</servlet-name>
    <url-pattern>/BuyServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListCartServlet</servlet-name>
    <url-pattern>/ListCartServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IpServlet</servlet-name>
    <url-pattern>/IpServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/RequestServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CookieDemo1</servlet-name>
    <url-pattern>/CookieDemo1</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>2</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/error/404Error.jsp</location>
  </error-page>

</web-app>
